/* Feedback List Container */
.feedback_container {
    width: 100%;
    max-width: 600px;
    margin: 3rem auto;
    padding: 20px;
    background-color: #f8b6b6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* Feedback List Heading */
.feedback_heading {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

/* Feedback List */
.feedback_list {
    list-style-type: none;
    padding: 0;
}

/* Feedback List Item */
.feedback_item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.feedback_message {
    font-size: 16px;
    color: #333;
}

.no_feedbacks {
    font-size: 18px;
    color: #888;
}

.post_feedback {
    margin-top: 20px;
}

.post_feedback input,
.post_feedback textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.post_feedback textarea {
    height: 100px;
}

.post_feedback button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.post_feedback button:hover {
    background-color: #0056b3;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    color: #398EB6;
    background: currentColor;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader:before {
    content: "";
    position: absolute;
    background:
        radial-gradient(farthest-side at bottom right, #0000 94%, currentColor 96%) 0 0,
        radial-gradient(farthest-side at bottom left, #0000 94%, currentColor 96%) 100% 0,
        radial-gradient(farthest-side at top left, #0000 94%, currentColor 96%) 100% 100%,
        radial-gradient(farthest-side at top right, #0000 94%, currentColor 96%) 0 100%;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    animation:
        l39-1 1s infinite,
        l39-2 1s infinite;
}

@keyframes l39-1 {

    0%,
    10%,
    90%,
    100% {
        inset: 0
    }

    40%,
    60% {
        inset: -10px
    }
}

@keyframes l39-2 {

    0%,
    40% {
        transform: rotate(0)
    }

    60%,
    100% {
        transform: rotate(90deg)
    }
}